@{

}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cimeraj</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrapCimeraj.min.css">
    <link rel="stylesheet" href="assets/css/stylesCimeraj.css">
</head>

<body>
    <h1 class="text-center text-primary" style="font-style: normal;">Cimeraj</h1>
    <div>
        <div class="container text-left" style="width: 1000px;margin: 70px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr style="height: 80px;">
                                    <td>Paviljon</td>
                                    <td><select style="width: 250px;height: 30px;"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></td>
                                </tr>
                                <tr style="height: 80px;">
                                    <td>Soba</td>
                                    <td><select style="width: 250px;height: 30px;"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></td>
                                </tr>
                                <tr style="height: 80px;">
                                    <td>Prvi cimer</td>
                                    <td><input type="text" style="width: 250px;"></td>
                                </tr>
                                <tr style="height: 80px;">
                                    <td>Drugi cimer</td>
                                    <td><input type="text" style="width: 250px;"></td>
                                </tr>
                                <tr style="height: 150px;">
                                    <td></td>
                                    <td><button class="btn btn-primary" type="button" style="margin: 50px;">Pošalji zahtjev</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="height: 80px;">Dodatne napomene</td>
                                </tr>
                                <tr>
                                    <td><textarea class="form-control-lg" style="width: 400px;height: 209px;"></textarea></td>
                                </tr>
                                <tr style="height: 150px;">
                                    <td>
                                        <div class="btn-group" role="group"><button class="btn btn-secondary" type="button" style="margin: 50px;">Odbaci zahtjev</button></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>