@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ViewCreating</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="text-center">
    <h1 style="margin-top: 50px;">Lista studenata</h1>
    <h4 style="margin-top: 50px;">Sortiraj po:</h4><select style="width: 300px;margin-top: 20px;"><optgroup label="Sortiraj po"><option value="12" selected="">Fakultet</option><option value="13">Kanton</option></optgroup></select>
    <div class="table-responsive" style="margin-top: 50px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Ime i prezime</th>
                    <th>Paviljon</th>
                    <th>Soba</th>
                    <th>Kanton</th>
                    <th>Fakultet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nedim Hastor</td>
                    <td>2</td>
                    <td>207</td>
                    <td>BPK</td>
                    <td>ETF</td>
                </tr>
                <tr>
                    <td>Tarik Mehulić</td>
                    <td>4</td>
                    <td>410</td>
                    <td>SBK</td>
                    <td>ETF</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>