<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>blagajnaview</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapBlagajnaLogin.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color: #0c0b0d;">
    <div class="container" style="margin: 60px 0px 0px 50px;">
        <div class="row">
            <div class="col">
                <h1 style="color: rgb(248,250,251);font-family: COOPER;font-size: 82px;">BLAGAJNA</h1>
            </div>
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col">
                        <h3 class="text-right" style="color: rgb(248,250,252);font-family: cooper;">Stanje budžeta</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="text-right">@ViewBag.Blagajna.StanjeBudgeta</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 40px 0px 0px 0px;">
        <div class="col" style="width: 200px;"><label class="col-form-label text-right" style="font-size: 24px;width: 300px;color: rgb(30,129,228);margin: 10px 50px;">ID Studenta:</label></div>
        <div class="col" style="width: 450px;"><input class="border rounded" type="text" style="margin: 22px 0px;width: 350px;"></div>
        <div class="col" style="width: 350px;"><button class="btn btn-primary" type="button" style="margin: 18px 0px 0px 0px;width: 300px;">Provjeri ID</button></div>
    </div>
    <div class="container" style="width: 1100px;">
        <div class="row" style="width: 1100px;">
            <div class="col" style="width:500px">
                <div class="table-responsive table-borderless text-center text-body" style="width: 450px;margin: 40px;">
                    <table class="table table-bordered table-sm">
                        <thead class="border-secondary" style="color: rgb(30,129,228);font-size: 17px;">
                            <tr>
                                <th style="color: rgb(18,124,230);font-size: 17px;">Osnovni podaci</th>
                            </tr>
                        </thead>
                        <tbody style="width: 500px;">
                            <tr>
                                <td style="width: 200px;color: rgb(248,250,251);">Ime:</td>
                                <td>text</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(248,250,251);">Prezime:</td>
                                <td>Text</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(248,250,251);">Fakultet:</td>
                                <td>Text</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(248,250,251);">Kanton:</td>
                                <td>Text</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(248,250,251);">Soba:</td>
                                <td>Text</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col" style="width:500px">
                <div class="table-responsive table-borderless text-center text-body" style="width: 450px;margin: 40px;height: 209px;">
                    <table class="table table-bordered table-sm">
                        <thead class="border-secondary" style="color: rgb(30,129,228);font-size: 17px;">
                            <tr>
                                <th style="color: rgb(18,124,230);font-size: 17px;">Neuplaćeni mjeseci</th>
                            </tr>
                        </thead>
                        <tbody style="width: 500px;">
                            <tr>
                                <td style="width: 200px;color: rgb(248,250,251);"></td>
                                <td>text</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(248,250,251);"></td>
                                <td>text</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(248,250,251);"></td>
                                <td>text</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(248,250,251);"></td>
                                <td>text</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(248,250,251);"></td>
                                <td>text</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>